<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687550883138-g7pq8aqjqdvt7c90n48ohnapnurkn7ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687550883138-g7pq8aqjqdvt7c90n48ohnapnurkn7ee</string>
	<key>API_KEY</key>
	<string>AIzaSyAx0uVOx2w0SuyWuuc4L0XN7osf2rskAm0</string>
	<key>GCM_SENDER_ID</key>
	<string>687550883138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iappwiz.cocarr</string>
	<key>PROJECT_ID</key>
	<string>cocarr-frontend-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>cocarr-frontend-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687550883138:ios:d6b8f2a62fac94cb0494db</string>
</dict>
</plist>